gradle-wrapper.jar
/.gradle
/captures/
# Keep Gradle wrapper scripts in git for reproducible CI builds.
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# # Remember to never publicly share your keystore.
# # See https://flutter.dev/to/reference-keystore
# key.properties
# **/*.keystore
# **/*.jks
